.add-article-page-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.add-article-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.back-button img {
  width: 24px;
}

h2 {
  margin-left: 10px;
}

h3 {
  margin-bottom: 20px;
}

.article-details {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.inp_art,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.article-buttons {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.validate-button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;  
  height: 50px;;
}


.cancel-button {
  background-color: #ccc;
  border: none;
  color: #fff;
}

.validate-button {
  background-color: #007bff;
  border: none;
  color: #fff;
}

.containe {
  width: 500px;
  height: 500px;
  padding: 10px;
}
