.container {
   
    margin: 0 auto;
    padding: 20px;
  }
  
  .add-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-button button {
    display: flex;
    align-items: center;
    background:  #007FFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    

  }
  .ads_btn{
    animation: invertColor 1s infinite alternate;
    text-decoration: none;
  }
  
  .add-button button:hover {
    background-color:  #0172e3;
  }
  
  .add-button img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f2f2f2; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
    transition: background-color 0.3s ease;
    max-width: 600px;
  }
  
  ul li span {
    margin-right: 10px;
  }
  
  ul li button {
    display: flex;
    align-items: center;
    background:  #007FFF;

    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  ul li button:hover {
    background-color: #0172e3;
  }
  
  ul li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  @keyframes invertColor {
    0% {
      background-color: #007FFF;
      color: white;
    }
    100% {
      background-color: white;
      color: #007FFF;
    }
  }