@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;

  /* Colors */
  --surface-default: #fff;
  --color-royalblue: #007fff;
  --color-gainsboro: #dcdce4;
  --color-gray: #1c1c1c;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-2xs: 11px;

  /* Paddings */
  --padding-66xl: 85px;
  --padding-110xl: 129px;
  --padding-2xs: 11px;
  --padding-40xl: 59px;
  --padding-xs: 12px;
  --padding-base: 16px;

  /* border radiuses */
  --br-3xl: 22px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  /* fonts */
  --font-poppins: Poppins;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-5xs: 8px;
  --font-size-smi: 13px;
  --font-size-4xs: 9px;
  --font-size-mid: 17px;
  --font-size-lg: 18px;
  --font-size-mini: 15px;

  /* Colors */
  --color-aliceblue: #e7ebf2;
  --color-sandybrown-100: #fba556;
  --color-sandybrown-200: #f7a152;
  --color-white: #fff;
  --color-limegreen: #2bc155;
  --color-gainsboro-100: #e2e6ed;
  --color-gainsboro-200: #dbdbdb;
  --color-black: #000;
  --color-darkgray-100: #a5aaaf;
  --color-darkgray-200: #9b9b9b;
  --color-darkslategray-100: #414141;
  --color-darkslategray-200: #2e2e2e;
  --color-darkslategray-300: #2d2d2d;
  --color-whitesmoke-100: #f4f4f4;
  --color-whitesmoke-200: #efefef;
  --color-royalblue-200: #007fff;
  --color-royalblue-300: #027df8;
  --color-royalblue-400: #0077ed;
  --color-royalblue-500: #0074e7;
  --color-gray-100: #8a8a8a;
  --color-main-text: #222132;
  --color-gray-200: rgba(255, 255, 255, 0.09);
  --color-gray-300: rgba(137, 137, 137, 0.05);
  --color-dimgray: #756f6f;

  /* Gaps */
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-3xl: 22px;
  --gap-2xl: 21px;
  --gap-4xs: 9px;
  --gap-41xl: 60px;
  --gap-2xs: 11px;
  --gap-37xl: 56px;
  --gap-9xs: 4px;
  --gap-75xl: 94px;
  --gap-42xl: 61px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-53xl: 72px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-14xl: 33px;
  --gap-4xl: 23px;
  --gap-76xl: 95px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-2xs: 11px;
  --padding-mini: 15px;
  --padding-22xl: 41px;
  --padding-7xl: 26px;
  --padding-6xs: 7px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-10xl: 29px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-4xl: 23px;
  --padding-9xl: 28px;
  --padding-9xs: 4px;
  --padding-6xl: 25px;

  /* border radiuses */
  --br-sm: 14px;
  --br-lg: 18px;
  --br-2xl: 21px;
  --br-5xs: 8px;
  --br-2xs: 11px;
  --br-11xl: 30px;
  --br-51xl: 70px;
  --br-xs: 12px;
}
