.create-request-container {
    font-family: "Roboto", sans-serif;
    margin: 20px;
 
  }
  body {
    background-color: #f2f2f2; /* Replace #f2f2f2 with your desired color */
  }
  
  .create-request-title {
    font-size: 24px;
    margin-bottom: 20px;
    margin-right: 1140px;
  }
  .return-back-button{
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
  }
  
  .form-row {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start; /* Align items at the top */
  }
  
  .form-group {
    margin-right: 20px;
    margin-left: 100px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input{
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', 'sans-serif';
    background-attachment: #ccc;
  }
  .form-select {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', 'sans-serif';
    background-color: white;
  }
  .contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-input[type="file"] {
    padding: 6px;
  }
  
  .form-input:focus,
  .form-select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .form-group:last-child {
    margin-right: 0;
    margin-bottom: 10px; /* Add 10px margin at the bottom */
    
  }
  .form-group-upload{
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 20px;
  }
  .form-input{
    font-family: 'Poppins', 'sans-serif';
    color: rgb(96, 96, 96);
    
  }
  
  @media only screen and (max-width: 768px) {
    .form-row {
      flex-wrap: wrap;
    }
  
    .form-group {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .upload-documents-container {
    text-align: center;
    margin-top: 10px;
    margin-left: -780px;
  }
  
  .upload-documents-title {
    display: block;
    margin-bottom: 5px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    margin-left: -160px;
  }
  
  .upload-documents {
    width: 440px;
    height: 70px;
    margin-left: 90px;
    display: inline-block;
    border: 2px dashed #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  .select-file{
    font-weight: 600;
    font-size: small;
    padding-right: 70px;
  }
  .file-size{
    font-size: small;
    display: flex;
    justify-content: center;
    padding-right: 33px;
  }
  .choose-file {
    width: 95px;
    height: 30px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    border-radius: 5px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
    position: absolute;
    left: 33.5%;
    bottom: 20.5%;
    cursor: pointer;
    /* Remove the input default styles */
    appearance: none;
    padding: 0;
    margin: 0;
  }
  
  .choose-file::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  .choose-file::before {
    content: 'Choose files';
    display: inline-block;
    padding: 6px 12px;
  }
  
  /* Style the input when files are selected */
  .choose-file:active::before,
  .choose-file:focus::before {
    background-color: #007bff;
    color: white;
  }
  
  .upload-documents-content {
    margin-bottom: 10px;
  }
  
  .upload-documents p {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
  }
  
  .file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
  }
  .right-buttons{
    position: absolute;
    top: 30%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  .bottom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .button {
    width: 150px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 10px; 
    font-family: 'Poppins', 'sans-serif';
    background-color: white;
    color: #007bff;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .cancel-button{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    border: none;
    background-color: gray;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    position: absolute;
    left: 30%;
    bottom: 4%;
    cursor: pointer;
  }
  .submit-button{
    width: 180px;
    height: 40px;
    border-radius: 7px;
    border: none;
    font-family: 'Poppins', 'sans-serif';
    background-color: #007bff;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 4%;
    cursor: pointer;
  }
  .download-button{
    width: 150px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 10px; 
    background-color: #007bff;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  
  
  .download{
    background-color: #007bff;
    width: 20px;
    height: 15px;
    position: absolute;
    left: 10%;
  }
  .eye{
    background-color: white;
    width: 20px;
    height: 15px;
    position: absolute;
    left: 15%;
  }
  .print{
    background-color: white;
    width: 20px;
    height: 15px;
    position: absolute;
    left: 20%;
  }
  .upload{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 9.5%;
  }