@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
.event-img-icon1 {
  position: relative;
  border-radius: 50px;
  width: 48px;
  height: 44px;
  object-fit: cover;
}
.organisation-title {
  position: relative;
  color: #9babc5;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.img-and-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.contact-text {
  position: relative;
  font-size: 9px;
  font-weight: 500;
  color: #9babc5;
}
.icon {
  position: relative;
  width: 12px;
  height: 12px;
}
.phone-number {
  position: relative;
  font-weight: 500;
}
.phone-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.icon1 {
  position: relative;
  width: 12px;
  height: 9px;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  font-size: 7px;
}
.event-infocontactifon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
}
.details {
  position: relative;
  font-size: 8px;
  font-weight: 500;
  font-family: Poppins;
  color: #9babc5;
  text-align: left;
}
.vector-icon {
  position: relative;
  width: 7.5px;
  height: 8.5px;
}
.details-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 38px;
  height: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}
.start-date-text {
  position: relative;
}
.icon2 {
  position: relative;
  width: 10px;
  height: 10px;
}
.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 7px;
  color: #222132;
}
.start-date-container {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.vector-icon2 {
  position: relative;
  width: 7px;
  height: 7px;
}
.register {
  position: relative;
  font-size: 6px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: left;
}
.validate-button {
  cursor: pointer;
  border: 1px solid #007fff;
  padding: 5px 9px;
  background-color: #007fff;
  border-radius: 7px;
  box-sizing: border-box;
  width: 56px;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.validate-button:hover {
  background-color: #0077ed;
}
.validate-button:active {
  background-color: #0074e7;
}
.detailsdatebutton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  color: #9babc5;
}
.event-card {
  border-radius: 31.22px;
  background-color: #fff;
  width: 260px;
  height: 225px;
  display: flex;
  flex-direction: row;
  padding: 23px 13px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.event-card:hover {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
}
.line {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 125px;
}
.events-conatiner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0px 35px;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard {
  background-color: #e7ebf2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 45px 90px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 9px;
  color: #222132;
  font-family: Poppins;
}
